Package: xcolorpicker-dbgsym
Source: xcolorpicker
Version: 1.2.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: ZhiGuo Xiao <blueshaw@163.com>
Installed-Size: 59
Depends: xcolorpicker (= 1.2.0)
Section: debug
Priority: optional
Description: debug symbols for xcolorpicker
Build-Ids: b50fcc10115dbddbda3cd0032894e3e3252a21f9
